<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("View Full Guest Check In List", "GuestListIndex")
</p>
<p>
    @Html.ActionLink("Guess Check In Times of Guest", "GuessCheckInTime")
</p>
<p>
    @Html.ActionLink("Load Registrants through CSV file", "LoadRegistrationList")
</p>
