@if (@ViewBag.EnteredWrongPasscode != null)
{
    <script>
        alert("Wrong passcode entered. Retry or return to Guest Check In.");
    </script>
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="container">
    @using (Html.BeginForm())
    {
        <div class=" row form-group">
            <input type="password" name="password" id="password" />
            <input type="submit" value="Enter Password" />
        </div>
    }
</div>
<br />
<div>
    @Html.ActionLink("Return to preregistered event guest list.", "PreregisteredCheckInList")
</div>
