@model RollCallApplication.Models.EventGuest

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Page under Construction</p>

<div>
    @Html.ActionLink("Back to Admininstrator Index", "AdministratorIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
