@model RollCallApplication.Models.EventGuest

<h2>Load Registration List</h2>

Page under Construction

<div>
    @Html.ActionLink("Back to List", "IndexOfAllGuests")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
