<h2>@ViewBag.Message</h2>

<address>
    <strong>Creator:</strong>   
    <a href=@ViewBag.CreatorContactEmailLink>
        @ViewBag.CreatorContactEmail
    </a>
    <br />
    <strong>Application Source Code:</strong> 
    <a target="_blank" href=@ViewBag.GitHubRepositoryAddress>
        @ViewBag.GitHubRepositoryAddress
    </a>
</address>