<div class="jumbotron">
    <h1>Roll Call Application</h1>
    <p class="lead">Customizable application for simple event check in.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Customize the application by checking out the GitHub repository.
        </p>
        <p><a class="btn btn-default" href=@ViewBag.GitHubRepositoryAddress>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Easily deployable through microsoft Azure portal.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Questions...</h2>
        <p>For more information, checkout the About and Contact pages.</p>
        <p>
            <a class="btn btn-default" href=@Url.Action("About","Home")>About</a>
            <a class="btn btn-default" href=@Url.Action("Contact","Home")>Contact</a>
        </p>
    </div>
</div>