<div class="jumbotron">
    <h1>Roll Call Application</h1>
    <p class="lead">Customizable application for simple event check in.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Access the customized guest check in page!
        </p>
        <p>
            <a class="btn btn-default" href=@Url.Action("RegisterGuest","EventGuests")>Guest Registration</a>
            <a class="btn btn-default" href=@Url.Action("PreregisteredCheckInList","EventGuests")>Guest Check In</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Customize the App</h2>
        <p>
            Customize the application by checking out the GitHub repository.
            Then easily deploy it through Microsoft's Azure cloud.
        </p>
        <p>
            <a class="btn btn-default" target="_blank" href=@ViewBag.GitHubRepositoryAddress>GitHub Repo &raquo;</a>
            <a class="btn btn-default" target="_blank" href="https://azure.microsoft.com/en-us/">Azure &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Questions...</h2>
        <p>For more information, checkout the About and Contact pages.</p>
        <p>
            <a class="btn btn-default" href=@Url.Action("About","Home")>About</a>
            <a class="btn btn-default" href=@Url.Action("Contact","Home")>Contact</a>
        </p>
    </div>
</div>